DB_URL=jdbc:postgresql://localhost:5432/student_forum_db
DB_USERNAME=postgres
DB_PASSWORD=your-db-password

ELASTIC_SEARCH_URL=http://localhost:9200

JWT_SECRET=your-secret-key
JWT_EXPIRATION=expiration-time

SWAGGER_ENABLED=true