.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6c6c75;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #d1d1d6;
    margin: 0 10px;
}